# Reddit (https://www.reddit.com/prefs/apps)
REDDIT_CLIENT_ID=
REDDIT_CLIENT_SECRET=
REDDIT_USERNAME=
REDDIT_PASSWORD=
REDDIT_USER_AGENT=instaddit

# Instagram
USERNAME=
PASS=

# Optional: Pastebin (https://pastebin.com/doc_api)
PASTEBIN_API_KEY=
